@font-face {
	font-family: 'Cuprum';
	font-display: swap;
	src: url('../fonts/Cuprum.woff2') format('woff2'),
		url('../fonts/Cuprum.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansCondensed';
	font-display: swap;
	src: url('../fonts/OpenSansCondensed-Bold.woff2') format('woff2'),
		url('../fonts/OpenSansCondensed-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansCondensed';
	font-display: swap;
	src: url('../fonts/OpenSansCondensed-Light.woff2') format('woff2'),
		url('../fonts/OpenSansCondensed-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaSans';
	font-display: swap;
	src: url('../fonts/SofiaSans-Bold.woff2') format('woff2'),
		url('../fonts/SofiaSans-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaSans';
	font-display: swap;
	src: url('../fonts/SofiaSans-Medium.woff2') format('woff2'),
		url('../fonts/SofiaSans-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaSans';
	font-display: swap;
	src: url('../fonts/SofiaSans-ExtraBold.woff2') format('woff2'),
		url('../fonts/SofiaSans-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaSans';
	font-display: swap;
	src: url('../fonts/SofiaSans-Regular.woff2') format('woff2'),
		url('../fonts/SofiaSans-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaSans';
	font-display: swap;
	src: url('../fonts/SofiaSans-Light.woff2') format('woff2'),
		url('../fonts/SofiaSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'SofiaSans';
	font-display: swap;
	src: url('../fonts/SofiaSans-SemiBold.woff2') format('woff2'),
		url('../fonts/SofiaSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}
