$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$white: #ffffff;
$gray: #4d5152;
$black: #04090b;
$color1: #ff5e69;
$color2: #ff8a56;
$color3: #72f559;
$color4: #56cdfa;
$font-size: 16px;
$fontFamily: 'Cuprum';
